* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trirong", sans-serif;
    line-height: 1;
    font-weight: 400;
    /* color: #776153; */
    color: #1b1b1bc4;
    font-weight: 600;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

/**************** PRIMERA PAGINA ****************/
.main-section {
    background-image: url("img/Fondos/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.main-section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 150px;
    padding-bottom: 80px;
}

.symbols-letters {
    font-size: 70px;
    margin-bottom: -50px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    font-style: oblique;
}

.symbol {
    margin-top: 30px;
    opacity: 0.5;
}

#contenedor-reproductor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#boton-reproducir {
    border: none;
    background-color: transparent;
}

.btn-music {
    color: #4c0b16;
    background-color: #f9f2df;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 8px #686868c4;

    cursor: pointer;
}

.btn-music:hover {
    background-color: #4c0b16;
    color: #f9f2df;
    transition: all 0.5s;
}

#barra-reproduccion {
    width: 200px;
    height: 5px;
    background-color: #f9f2df;
}

#progreso {
    width: 0%;
    height: 100%;
    background-color: #4c0b16;
    border-radius: 10px;
}

.music::-webkit-media-controls-start-playback-button {
    display: none !important;
}

h2 {
    font-size: 35px;
}

.date {
    font-size: 26px;
}

.location {
    font-size: 18px;
}

.timer-span {
    font-size: 30px;
}

/********TIMER************/
#contador {
    font-size: 15px;
    background-color: rgb(249, 242, 223);
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 40px;
}

.timer-days,
.timer-hours,
.timer-minutes,
.timer-seconds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.timer-letters,
#dias,
#horas,
#minutos,
#segundos {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.timer-space {
    padding: 20px 0px;
}

/**************** SECCION IMAGENES ****************/

.section-2 {
    background-image: url("img/Fondos/2.jpg");
    background-size: cover;
    background-position: center center;
}

.Images-wedding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;
    overflow: hidden;
}

.Images-wedding img {
    margin-right: -62px;
    border-radius: 1%;

    width: 24%;
    height: 24%;

    transition: all 0.4s;
    cursor: pointer;
}

.Images-wedding img:hover {
    transform: scale(1.1);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#imagen-modal {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cerrar {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

/**************** SECCION 3 ****************/

.section-3 {
    background-image: url("img/Fondos/3.jpg");
    background-size: cover;
    background-position: center left;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon {
    width: 150px;
    height: 167px;
}

.ceremonia,
.recepcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.tittle {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.tittle-c-matrimonial {
    display: flex;
    gap: 5px;
}

.tittle-dots {
    display: flex;
    align-items: center;
}

.tittle-recepcion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.hour {
    font-size: 20px;
    font-weight: 700;
}

.location {
    text-align: center;
    line-height: 1.5;
}

.address {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.btn {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 9px;
    border: none;
    color: #1b1b1bc4;
    background-color: #f9f2df;
    cursor: pointer;

    transition: all 0.5s;
}

.btn:link,
.btn:visited {
    border: none;
    color: #1b1b1bc4;
    background-color: #f9f2df;
}

.btn:hover,
.btn:active {
    background-color: #4e0b16;
    color: #fff;
}

/**************** SECCION 3-1 ****************/

.section-3-1 {
    background-color: #fcf4c6e0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.barra-icons {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.barra-icon {
    width: 110px;
    height: 110px;
}

.barra-img {
    border-radius: 30px;
    width: 675px;
    height: 28px;
}

.barra-letras {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.barra-letra {
    font-size: 18px;
    font-weight: 900;
}

.barra-letra-br {
    text-align: center;
}

.barra-letra-3 {
    padding: 0 30px;
}

.barra-letra-4 {
    padding: 0 30px;
}

.barra-horas {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.barra-hora {
    font-size: 30px;
    font-weight: 900;
}

/**************** SECCION 4 ****************/
.section-4 {
    background-image: url("img/Fondos/4.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 150px 0px;
}

.gifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-color: #fff;
    box-shadow: 0 10px 18px #686868c4;

    /* border: 1px solid #1b1b1bc4; */
    border-radius: 9px;
    padding: 100px 0px;
    width: 450px;
    height: 280px;
    cursor: pointer;
}

.gifs:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #4c0b16;
    color: #f9f2df;
}

#tittle-gifs {
    font-size: 36px;
    font-style: oblique;
    font-weight: 600;
    opacity: 1;
}

#gifs-words {
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    width: 70%;
    height: auto;
    word-spacing: 3px;
    line-height: 1.5;
    text-align: center;
}

/**************** SECCION 4-1 ****************/

.section-4-1 {
    background-color: #faf7e4e0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.vestimenta {
    font-size: 28px;
}

.vestimenta-span {
    font-size: 23px;
    font-weight: 550;
}

.icon-dress {
    background-color: #4c0b16;
    border-radius: 38px;
    width: 250px;
    height: auto;
}

/**************** SECCION 5 ****************/

.section-5 {
    background-image: url("img/Fondos/5.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 250px;
}

.letter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.asistencia {
    font-family: cinzel;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
}

.cta-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta-form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem #4c0b16;
}

#nombre-completo,
#telefono,
#confirmacion,
#mensaje {
    background-color: #f9f2df;
    border: none;
    padding: 10px 100px 10px 10px;
    border-radius: 3px;

    font-style: italic;
}

#nombre-completo,
#telefono {
    width: 49%;
}

#confirmacion {
    color: #3f3f3fc4;
    font-weight: 600;
}

#mensaje {
    width: 100%;
    height: 135px;
}

.first-block-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: px;
}

.second-block-cta {
    display: flex;
    flex-direction: column;
}

.third-block-cta {
    display: flex;
    justify-content: space-between;
}

.icon-wsp {
    width: 46px;
    height: auto;
}

.btn-cta {
    padding: 10px 50px;
    font-weight: 500;
}

/**************** FOOTER ****************/

.footer {
    background-color: rgb(78, 11, 22);
    color: beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 60px 0px;
}

.footer-p {
    font-size: 18px;
    font-weight: 600;
    width: 600px;

    text-align: center;
    line-height: 1.5;
}

.footer-hashtag {
    font-size: 25px;
    font-style: italic;
}

/*****************************/
/* BELOW 1344px (Smaller desktops) */
/*****************************/

@media (max-width: 1344px) {
}

/*****************************/
/* BELOW 1200px (Landscape Tablets) */
/*****************************/

@media (max-width: 1200px) {
    .section-4 {
        background-image: url("img/Fondos/4.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/*****************************/
/* BELOW 1070px (Tablets) */
/*****************************/

@media (max-width: 1070px) {
    .main-section {
        background-image: url("img/Fondos/1.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .Images-wedding img {
        padding: auto 20px;
    }
}

/*****************************/
/* BELOW 944px (Tablets) */
/*****************************/

@media (max-width: 944px) {
    .Images-wedding img {
        margin: 5px;
        border-radius: 2%;
    }
    .section-3 {
        background-image: url("img/Fondos/3.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

/*******************************************************/
/* BELOW 704px (Smallert tablets)
/*******************************************************/

@media (max-width: 704px) {
    .main-section {
        background-image: url("img/Fondos/1.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    h1 {
        font-size: 38px;
        font-weight: 900;
    }

    .symbol {
        width: 18%;
        height: 18%;
    }

    h2 {
        font-size: 25px;
    }

    .date {
        font-size: 20px;
    }

    .location {
        font-size: 18px;
    }

    .section-3 {
        gap: 50px;
        padding: 100px auto;
    }

    .icon {
        width: 45%;
        height: 45%;
    }

    .ceremonia,
    .recepcion {
        gap: 20px;
    }

    .tittle {
        font-size: 25px;
    }

    .hour {
        font-size: 16px;
    }

    .location {
        font-size: 18px;
    }

    .address {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
    }

    .btn {
        font-size: 18px;
        padding: 12px 30px;
    }

    .barra-icons {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .barra-img {
        width: 520px;
        height: 28px;
    }

    .barra-letras {
        gap: 70px;
    }

    .barra-letra {
        font-size: 16px;
    }

    .barra-letra-3 {
        padding: 0 20px;
    }

    .barra-letra-4 {
        padding: 0 20px;
    }

    .barra-horas {
        gap: 80px;
    }

    .barra-hora {
        font-size: 25px;
    }

    /* .gifs {
      width: 50%;
      height: 80%;
    } */

    #tittle-gifs {
        font-size: 28px;
    }

    #gifs-words {
        font-size: 14px;
    }

    .section-5 {
        background-image: url("img/Fondos/5.jpg");
        background-size: 160%;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding: 100px;
    }

    .cta-form {
        width: 100%;
        height: 100%;
    }

    .first-block-cta {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .second-dot-block-cta {
        display: flex;
    }

    .footer-p {
        font-size: 16px;
    }

    .footer-hashtag {
        font-size: 23px;
    }
}
/*****************************/
/* BELOW 679px (Phones)
/*****************************/

@media (max-width: 679px) {
    .asistencia {
        font-size: 26px;
    }
}

/*****************************************************/
/* BELOW 599px (Phones)
/*****************************************************/

@media (max-width: 599px) {
    .section-3 {
        gap: 20px;
        padding: 100px auto;
    }

    .icon {
        width: 40%;
        height: 40%;
    }

    .ceremonia,
    .recepcion {
        gap: 15px;
    }

    .tittle {
        font-size: 22px;
    }

    .hour {
        font-size: 14px;
    }

    .location {
        font-size: 16px;
    }

    .address {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 12px 30px;
    }

    .barra-icons {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .barra-img {
        width: 420px;
        height: 28px;
    }

    .barra-letras {
        gap: 50px;
    }

    .barra-letra {
        font-size: 14px;
    }

    .barra-horas {
        gap: 60px;
    }

    .barra-hora {
        font-size: 23px;
    }

    .section-4 {
        padding: 130px 0px;
    }

    .gifs {
        width: 55%;
        height: 250px;
        padding: auto;
    }

    #tittle-gifs {
        font-size: 26px;
    }

    #gifs-words {
        font-size: 14px;
        padding: 30px auto;
    }

    .vestimenta {
        font-size: 25px;
    }

    .vestimenta-span {
        font-size: 20px;
    }

    .icon-dress {
        width: 200px;
        height: auto;
    }

    .asistencia {
        font-size: 24px;
    }

    .footer-p {
        font-size: 12px;
    }

    .footer-hashtag {
        font-size: 20px;
    }
}

/******************************************************/
/* BELOW 544px (Phones)
/********************************************************/

@media (max-width: 544px) {
    .main-section {
        background-image: url("img/Fondos/1.jpg");
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .main-section-flex {
        display: flex;

        gap: 10px;
        padding-top: 80px;
        padding-bottom: 60px;
    }

    h1 {
        font-size: 36px;
    }

    .symbol {
        width: 18%;
        height: 18%;
    }

    .btn-music {
        font-size: 16px;
        padding: 10px;

        cursor: pointer;
    }

    h2 {
        font-size: 22px;
    }

    .date {
        font-size: 18px;
    }

    .location {
        font-size: 16px;
    }

    .timer-span {
        font-size: 28px;
    }

    #contador {
        font-size: 13px;
        border-radius: 10px;
        gap: 10px;
        padding: 5px 40px;
    }

    .Images-wedding img {
        width: 30%;
        height: 24%;
    }

    .section-3 {
        gap: 10px;
        padding: 100px auto;
    }

    .icon {
        width: 35%;
        height: 35%;
    }

    .ceremonia,
    .recepcion {
        gap: 14px;
    }

    .tittle {
        font-size: 20px;
    }

    .hour {
        font-size: 13px;
    }

    .location {
        font-size: 14px;
    }

    .address {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 26px;
    }

    .barra-icons {
        gap: 25px;
        justify-content: center;
    }

    .barra-icon {
        width: 18%;
        height: 18%;
    }

    .barra-img {
        width: 380px;
        height: 28px;
    }

    .barra-letras {
        gap: 40px;
    }

    .barra-letra {
        font-size: 12px;
    }

    .barra-horas {
        gap: 50px;
    }

    .barra-hora {
        font-size: 18px;
    }

    .gifs {
        width: 45%;
        height: 200px;
        padding: auto;
    }

    #tittle-gifs {
        font-size: 20px;
    }

    #gifs-words {
        font-size: 12px;
        padding: 30px auto;
        line-height: 1.2;
    }

    .vestimenta {
        font-size: 22px;
    }

    .vestimenta-span {
        font-size: 18px;
    }

    .icon-dress {
        width: 180px;
        height: auto;
    }

    .asistencia {
        font-size: 18px;
    }

    .first-block-cta {
        display: flex;
        flex-direction: column;

        gap: px;
    }

    #nombre-completo,
    #telefono {
        width: 100%;
    }

    .icon-wsp {
        width: 38px;
        height: auto;
    }

    .btn-cta {
        padding: 7px 40px;
    }

    .footer {
        gap: 10px;

        padding: 50px 0px;
    }

    .footer-p {
        font-size: 13px;
        font-weight: 600;
        width: 400px;
    }

    .footer-hashtag {
        font-size: 18px;
        font-style: italic;
    }
}

/**************************************************************/
/* BELOW 425px (Phones)
/***********************************************************/

@media (max-width: 425px) {
    .symbols-letters {
        width: 30%;
        margin-bottom: -50px;
    }

    h1 {
        font-size: 30px;
        font-weight: 900;
        /* color: #4c0b16; */
    }

    .symbol {
        margin-top: 10px;
    }

    .btn-music {
        font-size: 14px;
        padding: 6px;
    }

    #barra-reproduccion {
        width: 130px;
    }

    h2 {
        font-size: 20px;
    }

    .date {
        font-size: 14px;
    }

    .location {
        font-size: 12px;
    }

    .timer-span {
        font-size: 23px;
    }

    #contador {
        font-size: 12px;
        border-radius: 10px;
        gap: 10px;
        padding: 0px 20px;
    }

    .section-3 {
        gap: 10px;
        padding: 80px auto;
    }

    .icon {
        width: 35%;
        height: 35%;
    }

    .ceremonia,
    .recepcion {
        gap: 12px;
    }

    .tittle {
        font-size: 16px;
    }

    .tittle-recepcion {
        height: 28px;
    }

    .hour {
        font-size: 10px;
    }

    .location {
        font-size: 12px;
    }

    .address {
        font-size: 10px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 20px;
    }

    .section-3-1 {
        gap: 16px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .barra-icons {
        gap: 25px;
        justify-content: center;
    }

    .barra-icon {
        width: 15%;
        height: 15%;
    }

    .barra-img {
        width: 300px;
        height: 16px;
    }

    .barra-letras {
        gap: 32px;
    }

    .barra-letra-3 {
        padding: 0 15px;
    }

    .barra-letra-4 {
        padding: 0 20px;
    }

    .barra-letra {
        font-size: 10px;
    }

    .barra-horas {
        gap: 50px;
    }

    .barra-hora {
        font-size: 14px;
    }

    .section-4 {
        padding: 120px 0px;
    }

    .gifs {
        width: 50%;
        height: 40px;
        padding: 20px auto;
    }

    #tittle-gifs {
        font-size: 16px;
        padding: 20px auto;
    }

    #gifs-words {
        font-size: 10px;
        padding: 20px auto;
    }

    .section-5 {
        display: flex;

        gap: 40px;
        padding: 100px 50px;
    }

    .asistencia {
        font-size: 18px;
    }

    .footer {
        gap: 10px;
        padding: 50px 20px;
    }
}

/**************************************************************/
/* BELOW 375px (Phones)
/***********************************************************/

@media (max-width: 375px) {
    .main-section {
        background-image: url("img/Fondos/1.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .symbols-letters {
        width: 26%;
        margin-bottom: -30px;
    }

    h1 {
        font-size: 26px;
    }

    .btn-music {
        font-size: 12px;
        padding: 8px;
        box-shadow: 0 7px 10px #686868c4;
    }

    #barra-reproduccion {
        width: 110px;
    }

    h2 {
        font-size: 18px;
    }

    .date {
        font-size: 13px;
    }

    .location {
        font-size: 11px;
    }

    .timer-span {
        font-size: 22px;
    }

    #contador {
        font-size: 12px;
        gap: 5px;
        padding: 0px 15px;
    }

    .Images-wedding {
        padding: 80px 10px;
        overflow: scroll;
    }

    .Images-wedding img {
        margin-right: -77px;
        border-radius: 6%;

        width: 40%;
        height: 80%;
    }

    .section-3 {
        gap: 0px;
        padding: 70px 0px;
    }

    .icon {
        width: 30%;
        height: 30%;
    }

    .ceremonia,
    .recepcion {
        gap: 10px;
    }

    .tittle {
        font-size: 14px;
    }

    .hour {
        font-size: 8px;
    }

    .location {
        font-size: 10px;
    }

    .address {
        font-size: 8px;
    }

    .btn {
        font-size: 10px;
        font-weight: 600;
        padding: 6px 17px;
    }

    .section-3-1 {
        gap: 13px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .barra-icons {
        gap: 25px;
    }

    .barra-icon {
        width: 14%;
        height: 14%;
    }

    .barra-img {
        width: 250px;
        height: 10px;
    }

    .barra-letras {
        gap: 28px;
    }

    .barra-letra-3 {
        padding: 0 10px;
    }

    .barra-letra-4 {
        padding: 0 15px;
    }

    .barra-letra {
        font-size: 8px;
    }

    .barra-horas {
        gap: 36px;
    }

    .barra-hora {
        font-size: 12px;
    }

    .gifs {
        width: 50%;
        height: 40px;
        padding: 70px 0px;
        box-shadow: 0 12px 20px #4e4e4ec4;
    }

    #tittle-gifs {
        font-size: 15px;
        font-weight: 800;
    }

    #gifs-words {
        font-size: 10px;
        padding: 10px 0px;
    }

    .section-4-1 {
        gap: 20px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .vestimenta {
        font-size: 20px;
    }

    .vestimenta-span {
        font-size: 16px;
    }

    .icon-dress {
        width: 140px;
        height: auto;
        border-radius: 25px;
    }

    .section-5 {
        gap: 30px;
        padding: 100px auto;
    }

    .asistencia {
        font-size: 15px;
    }

    #nombre-completo,
    #telefono,
    #confirmacion,
    #mensaje {
        font-size: 12px;
        padding: 10px 100px 10px 10px;
        border-radius: 5px;
    }

    .icon-wsp {
        width: 30px;
        height: auto;
    }

    .btn-cta {
        font-size: 11px;
        font-weight: 600;
        padding: 0px 28px;
    }

    /***************/
    .footer {
        gap: 10px;
        padding: 40px 0px;
    }

    .footer-p {
        font-size: 12px;
        width: 280px;
    }

    .footer-hashtag {
        font-size: 16px;
    }
}

